<ul class="nav justify-content-end navbar-expand-sm navbar-dark bg-dark mymargin">
<div class="sociall">
  <a href="https://twitter.com/dev3lovers" target="_blank" class="fa fa-twitter"></a>
  <a href="https://github.com/mucahiddogan/develover-team" target="_blank" class="fa fa-github"></a>
</div>

  <li class="nav-item">
    <a class="nav-link active" href="<%= new_admin_session_path %>">Admin</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="<%= new_partner_session_path %>">Paydaş</a>
  </li>
</ul>