<ul class="nav justify-content-end navbar-expand-sm navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link active" href="<%= new_admin_session_path %>">Admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= new_partner_session_path %>">Paydaş</a>
  </li>
</ul>