 
  <ul class="nav justify-content-center navbar-expand-sm navbar-dark bg-dark" style="padding-bottom:10px">
    <div class="sociall">
      <a href="https://twitter.com/dev3lovers" target="_blank" class="fa fa-twitter"></a>
      <a href="https://github.com/mucahiddogan/develover-team" target="_blank" class="fa fa-github"></a>
      <!--<a href="#" target="_blank" class="fa fa-facebook"></a>
      <a href="#" target="_blank" class="fa fa-instagram"></a>-->
    </div>
    <li class="nav-item">
      <a class="nav-link btn-secondary bg-dark" href="<%= new_admin_session_path %>">Admin </a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-secondary bg-dark" href="<%= new_partner_session_path %>"> Partner</a>
    </li>
  </ul>
