 
  <ul class="nav justify-content-center navbar-expand-sm navbar-dark bg-dark" style="padding-bottom:30px">
    <li class="nav-item">
      <a class="nav-link btn-secondary bg-dark" href="<%= new_admin_session_path %>">Admin </a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-secondary bg-dark" href="<%= new_partner_session_path %>"> Paydaş</a>
    </li>
  </ul>
