
<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <style>
			.google-maps {
			position: relative;
			padding-bottom: 22%; // This is the aspect ratio
			height: 0;
			overflow: hidden;
			}
			.google-maps iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 75% !important;
			}
			</style>

			<div class="google-maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48371.07042249032!2d31.579865298286705!3d40.73580271924932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d3f16dc8406d1%3A0x83cc363ab54b82e9!2sBolu%2C+Bolu+Merkez%2FBolu%2C+T%C3%BCrkiye!5e0!3m2!1str!2sus!4v1533365874938" width="600" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
    	</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Announcement or User Details</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">With supporting </p>
        <p class="card-text">User Mail: user@default.com </p>
        <p class="card-text">User Mail: user@default.com </p>
        <p class="card-text">With supporting text below as a natural lead-in to</p>
        <a href="#" class="btn btn-primary">Details</a>

      </div>
    </div>
  </div>
</div>