<div class="table-responsive" style="margin-top:30px;">
  <table class="table table-striped table-sm" >
    <thead>
      <tr>
		<th scope="col">Id</th>
        <th scope="col">Email</th>
		<th scope="col">Delete Partner </th>

      </tr>
    </thead>
    <tbody>
    
    <% @partners.each do |partner| %>

      <tr class="table-active">
			<td ><%= partner.id %></td>
			<td ><%= partner.email %></td>
			<td><%= link_to "Delete Partner", deletepartner_url(partner), data: { confirm: "Are you sure?" } %></td>
	  </tr>
    
    <% end %>

    </tbody>
  </table>
</div>
